.dashboard-card {
    background-color: #818185;
    color: rgb(17, 17, 17);
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

/* -------------------- */
/* Desktop (≥ 769px)    */
/* Sidebar always shown */
/* -------------------- */
.sidebar {
    width: 250px;
    min-height: 100vh;   /* full height */
    background: #212529;
}

/* -------------------- */
/* Mobile (≤ 768px)     */
/* Sidebar hidden       */
/* -------------------- */
@media (max-width: 768px) {

    /* hide only on mobile */
    .sidebar {
        position: fixed;
        left: -260px;    /* hidden by default */
        top: 0;
        height: 100vh;
        width: 250px;
        background: #212529;
        transition: 0.3s;
        z-index: 2000;
    }

    .sidebar.active {
        left: 0;        /* slide-in */
    }
}
